<p>Create New Member</p>
<form [formGroup]="form" (ngSubmit)="ONSUB()">
    <p>
        <mat-form-field>
            <input matInput placeholder="cin" formControlName="cin">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="name" formControlName="name">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="cv" formControlName="cv">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="type"  formControlName="type">
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button type="submit">Submit</button>
    </p>
</form>
